section.section2 {width : 100%; background : linear-gradient(to bottom, #000, transparent), url('../img/pBg.jpg') center / cover no-repeat; position : relative; top : 80px; display : flex; flex-flow : row wrap; align-content: flex-start; justify-content: center;}
section.section2 h1 {color : #fff; width : 100%; text-align : center; height : 100px; font-size : 54px; line-height: 100px;}
section.section2 .discoverCon {width : 90%; margin : 20px 0; display : flex; justify-content: space-evenly; align-items: flex-start; flex-flow : row wrap;}
section.section2 .discoverCon div {width : 80%; height : 250px; display : flex; margin-bottom : 20px; position : relative; cursor : pointer;}
section.section2 .discoverCon div:nth-child(2) {justify-content: flex-end;}
section.section2 .discoverCon div img {height : 100%; border-radius : 20px; opacity : 0.7; transition : 0.4s; border : 2px solid #222; box-shadow : 0 0 3px #ccc;}
section.section2 .discoverCon div p {position : absolute; padding : 15px; bottom : 0; color : #fff; text-shadow : 0px 0px 2px #000; width : 444px; display : flex; align-items: center; justify-content: space-between;}
section.section2 .discoverCon div p i {font-size : 24px;}

/* 반응형 */
@media screen and (max-width : 1024px) {
    section.section2 .discoverCon div {width : 90%;}
}

@media screen and (max-width : 768px) {
    section.section2 .discoverCon div {justify-content: center; width : 100%;}
    section.section2 .discoverCon div:nth-child(2) {justify-content: center;}
}